
.card_wrapper {
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.card_wrapper img {
    width: 100%;
    
}


.col_1 {grid-column: span 1;}
.col_2 {grid-column: span 2;}
.col_3 {grid-column: span 3;}
.col_4 {grid-column: span 4;}
.col_5 {grid-column: span 5;}
.col_5 {grid-column: span 5;}

@media (max-width: 768px) {
    .card_wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .grid {
      grid-template-columns: repeat(1, 1fr);
      grid-column-gap: 1;
    }
  }